.DS_Store
example/bin/sosoExampleAppDebug.app/*
example/bin/sosoExampleApp.app/*
examples/destructorsClean/bin/data/RF1308-Superbowl_Closing-Ver02.mp4

#Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
#*.a

#Compiled apps
*.app
*.xcuserstate
*.DS_store

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
